@font-face {
  font-family: 'DMSans_18pt-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('DMSans_18pt-Regular'),
    url('../fonts/DMSans_18pt-Regular.woff2') format('woff2'),
    url('../fonts/DMSans_18pt-Regular.woff') format('woff'), ;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans_18pt-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans_18pt-Medium'),
    url('../fonts/DMSans_18pt-Medium.woff2') format('woff2'),
    url('../fonts/DMSans_18pt-Medium.woff') format('woff'), ;
  font-display: swap;
}
@font-face {
  font-family: 'DMSans_24pt-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('DMSans_24pt-Bold'),
    url('../fonts/DMSans_24pt-Bold.woff2') format('woff2'),
    url('../fonts/DMSans_24pt-Bold.woff') format('woff'), ;
  font-display: swap;
}